[package]
name = "printree"
version = "0.2.0"
edition = "2021"

[dependencies]
anyhow = "1"
clap = { version = "4.5", features = ["derive"] }
globset = "0.4"
ignore = "0.4"
termcolor = "1.4"
git2 = "0.18"